:focus:not(:focus-visible) {
  outline: none;
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

button, .btn, input[type=submit] {
  @apply px-4 py-2 m-1 bg-pink-600 text-white rounded;
}

a {
  @apply border-b-2 border-blue-300 text-blue-400 cursor-pointer;
}
a.active {
  @apply border-0 no-underline text-blueGray-400 cursor-default;
}

.mainnav {
  text-align: center;
}
.mainnav a {
  display: inline-block;
  margin: 8px;
  font-size: 2.2em;
}
