:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: sans-serif;
}

footer {
  text-align: center;
  color: #ccc;
  padding-top: 80px;
}

.mainnav {
  text-align: center;
}
.mainnav a {
  display: inline-block;
  margin: 8px;
  font-size: 2.2em;
  color: cornflowerblue;
  text-decoration: underline;
}
.mainnav a.active {
  color: gray;
  text-decoration: none;
  cursor: default;
}
